<div class="outer-sound-container">
	<div class="inner-sound-container">
		<button ng-click="changeSound('fun/FUN_Babedi Bopi')" class="btn-style1" >Babedi Bopi?</button>
		<button ng-click="changeSound('fun/FUN_Benny Hill Theme')" class="btn-style1" >Benny Hill</button>
		<button ng-click="changeSound('fun/FUN_Chariots')" class="btn-style1">Chariots</button>
		<button ng-click="changeSound('fun/FUN_Fail')" class="btn-style1">Fail</button>
		<button ng-click="changeSound('fun/FUN_Careless Whisper')" class="btn-style1" >Careless Whisper</button>
		<button ng-click="changeSound('fun/FUN_Da ist das Ding')" class="btn-style1">Da ist das Ding</button>
		<button ng-click="changeSound('fun/FUN_Fresse_halten')" class="btn-style1" >Fresse halten</button>
		<button ng-click="changeSound('fun/FUN_Jeopardy Theme')" class="btn-style1">Jeopardy</button>
		<button ng-click="changeSound('fun/FUN_Loewenzahn')" class="btn-style1">Löwenzahn</button>
		<button ng-click="changeSound('fun/FUN_Madafaka')" class="btn-style1" >Madafakaaa</button>
		<button ng-click="changeSound('fun/FUN_Nein_doch_ohh')" class="btn-style1">Nein doch!</button>
		<button ng-click="changeSound('fun/FUN_Thats what she said')" class="btn-style1">She said</button>
		<button ng-click="changeSound('fun/FUN_Scheiss_die_Wand_an')" class="btn-style1">Wand</button>
	</div>
</div><!-- /container -->