<div class="outer-sound-container">
	<div class="inner-sound-container">
		<button ng-click="changeSound('fussball/Fussball_Arbeit wo man leistet')" class="btn-style1" >Arbeit</button>
		<button ng-click="changeSound('fussball/Fussball_Frechheit')" class="btn-style1" >Frechheit</button>		
		<button ng-click="changeSound('fussball/Fussball_Arbeiten wie die Frau')" class="btn-style1">Frau</button>
		<button ng-click="changeSound('fussball/Fussball_Beiden Boden')" class="btn-style1">Beiden Boden</button>
		<button ng-click="changeSound('fussball/Fussball_Bla Bla Bla')" class="btn-style1" >Bla Bla Bla</button>
		<button ng-click="changeSound('fussball/Fussball_Fliegender Teppich')" class="btn-style1">Teppich</button>
		<button ng-click="changeSound('fussball/Fussball_Freunde der Sonne')" class="btn-style1">Freunde der Sonne</button>
		<button ng-click="changeSound('fussball/Fussball_Ich habe fertig')" class="btn-style1">Fertig</button>
		<button ng-click="changeSound('fussball/Fussball_Kartoffel')" class="btn-style1" >Kartoffel</button>
		<button ng-click="changeSound('fussball/Fussball_Scheisse gepfiffen')" class="btn-style1">Scheisse gepfiffen </button>
		<button ng-click="changeSound('fussball/Fussball_Steffi Graf')" class="btn-style1">Steffi Graf</button>
		<button ng-click="changeSound('fussball/Fussball_Trainer - Idiot')" class="btn-style1">Idiot</button>
		<button ng-click="changeSound('fussball/Fussball_Verbalerotik')" class="btn-style1">Verbalerotik</button>
		<button ng-click="changeSound('fussball/Fussball_Was erlauben Strunz')" class="btn-style1">Strunz</button>
		<button ng-click="changeSound('fussball/Fussball_4 gegen 2')" class="btn-style1" >4 gegen 2</button>
	</div>
</div><!-- /container -->