<div class="outer-sound-container">
	<div class="inner-sound-container">
		<button ng-click="changeSound('werner/Toooor')" class="btn-style1" >Toooor</button>
		<button ng-click="changeSound('werner/Bodencatcher')" class="btn-style1" >Bodencatcher</button>
		<button ng-click="changeSound('werner/Fussballplatz')" class="btn-style1" >Fussballplatz</button>
		<button ng-click="changeSound('werner/Flasche_gucken')" class="btn-style1">Flasche</button>
		<button ng-click="changeSound('werner/Heisses_Spiel')" class="btn-style1">Heisses Spiel</button>
		<button ng-click="changeSound('werner/Kopfball_Petersen')" class="btn-style1" >Kopfball</button>
		<button ng-click="changeSound('werner/Melonen')" class="btn-style1">Melonen</button>
		<button ng-click="changeSound('werner/Pflanzen')" class="btn-style1">Pflanzen</button>
		<button ng-click="changeSound('werner/Olle_Zibbe')" class="btn-style1" >Olle Zibbe</button>
		<button ng-click="changeSound('werner/Was_ist_mit_euch_los')" class="btn-style1">Was los?</button>
		<button ng-click="changeSound('werner/Wenn_noch_einer_muss')" class="btn-style1">Einer noch</button>
		<button ng-click="changeSound('werner/Nenene')" class="btn-style1">NeyneyNey</button>
	</div>
</div><!-- /container -->